$bg-color: #ecf0f1;
$font-color: #2c3e50;
$font-size: 18px;
$font-family: "Open Sans", sans-serif;
$font-weight: 700;

$link-color: #3498db;
$link-hover: lighten($link-color, 20%);

$container-width: 800px;
